@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  margin: 0;
  font-family:'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'Nunito', sans-serif;
}

.link-post{
  padding:5px;
  margin-right: 5px;
  background-color:#0099cc;
  border-radius: 15px;
}


.btns{
  margin-left: 1120px;
}


.img{
  padding:20px;
}

.inputs{
  padding:50px;
}
.input-text {
  line-height: 15px;
  padding: 10px;
  margin-bottom: 10px;
  width: 95%;
}

.input-title {
  line-height: 15px;
  padding: 10px;
  margin-bottom: 10px;
  width: 95%;

}

.input-text-post {
  margin-left: 50%;
}

.link-details {
  border: 1px solid #000000;
  margin-bottom: 10px;
  width: 100%;
}

.comment-details {
  border: 1px solid #000000;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
}

.comment-details .left {
  text-align: center;
  border-right: 1px solid #000000;
  padding: 10px;
  width: 5%;
}

.comment-details .right {
  padding: 10px;
}

.link-details .left {
  text-align: center;
  border-right: 1px solid #000000;
  padding: 10px;
  width: 5%;
}

.link-details .right {
  padding: 10px;
}

.link-details .right .title {
  margin: 0px;
}

.link-details .right .comment-count {
  margin-top: 15px;
  font-size: 12px;
}

.link-details .right .url {
  color: #7c7c7c;
}

.container {
  max-width: 80%;
  margin: auto;
}

.list-view {
  list-style: none;
  margin: 0px;
  padding: 0px;
  max-width:100%;
}

.list-view li {
  margin: 0px;
  padding: 0px;
}

.details {
  width: 50%;
}

a {
  color: inherit;
  text-decoration: none;
}

.field {
  color:#0099cc;  
}

.top-navbar {
  border-bottom: 1px solid #000000;
  padding-top: 15px;
  min-height: 50px;
  margin-bottom: 30px;
}

.btn {
  padding:5px;
  margin-right: 5px;
  background-color:#0099cc;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 15px;
}

.btn-post {
  position: relative;
  padding:5px;
  width: 15%;
  margin-right: 5px;
  left: 40%;
  font-size: 15px;
  border-radius: 15px;
  background-color:#0099cc;

}

.top-navbar a {
  padding:5px;
  margin-right: 5px;
}

.top-navbar .right {
  float: right;
  width: 100px;
  text-align: center;
}

.top-navbar .left {
  padding: 20px;
}

.error-msg {
  background-color: lightgrey;
  color: red;
  width: 82%;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 8%;
  border-radius: 10px;
}

.success-msg {
  background-color: lightgrey;
  color: green;
  width: 82%;
  margin-left: 8%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.login-container {
  max-width: 50%;
  background-color:#0086b3;
  margin: auto;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.vote-btn {
  font-weight: 800;
  font-size: 30px;
}